<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Recuperación de credenciales para el sistema</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../styles/angular-material.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <style>
    </style>
</head>
<body ng-app="RecoverCredentials">
    <md-toolbar layout="column" layout-align="center center">
        <h2 class="md-headline">
            <span>Sistema de Directorio</span>
        </h2>
    </md-toolbar>
    <md-content id="recoverContainer" ng-controller="RecoverCredentialsController">
        <form layout="column" layout-align="center center" layout-padding name="RecoverForm" id="RecoverForm">
            <md-content layout="column" layout-padding>
                <h2 class="md-title">Recuperación de credenciales</h2>
                <p>
                    Se mandaran las credenciales al correo electrónico que indique, mismo que debe estar ligado a su cuenta de usuario:
                </p>
                <md-content layout="column">
                    <div>
                        <div layout="row">
                            <md-input-container class="md-accent" flex>
                                <label>Correo</label>
                                <input ng-model="cliente.Email" type="email" name="Email" required>
                                <div ng-messages="RecoverForm.Email.$error" ng-if="RecoverForm.Email.$touched">
                                    <div ng-message="required">Campo requerido</div>
                                    <div ng-message="email">No es un correo electrónico válido</div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                </md-content>
            </md-content>
            <div layout="column" layout-align="center end">
                <md-button type="submit" class="md-raised md-primary" ng-click="RecuperarCredeneciales(cliente.Email, $event)" ng-disabled="RecoverForm.$invalid">Enviar</md-button>
            </div>
        </form>
    </md-content>
    <md-progress-linear ng-if="dataLoading" md-mode="indeterminate"></md-progress-linear>
    <script src="../scripts/angular.min.js"></script>
    <script src="../scripts/angular-animate.min.js"></script>
    <script src="../scripts/angular-route.min.js"></script>
    <script src="../scripts/angular-aria.min.js"></script>
    <script src="../scripts/angular-messages.min.js"></script>
    <script src="../scripts/angular-cookies.min.js"></script>
    <script src="../scripts/angular-material.min.js"></script>
    <script src="recover.js"></script>
</body>
</html>
