
<md-content flex-xs layout="row" layout-align="center">
    <md-card flex>
        <md-card-title>
            <md-card-title-text>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>
                            <span>EMPLEADOS</span>
                        </h2>
                        <span flex></span>
                        <md-menu>
                            <md-button aria-label="Operaciones de directorio" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
                                <md-icon md-menu-origin md-svg-icon="Presentation/assets/Add.svg"></md-icon>
                            </md-button>
                            <md-menu-content>
                                <md-menu-item>
                                    <md-button ng-click="AgregarEmpleado($event, false)">
                                        <md-icon md-svg-icon="Presentation/assets/AddClient.svg" md-menu-align-target></md-icon>
                                        {{'Agregar Empleado'}}
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>
                </md-toolbar>
                <md-content layout-gt-sm="row" layout-padding layout-align="start end">
                    <form layout="row">
                        <md-input-container class="md-block">
                            <label>Nombre</label>
                            <input ng-model="busqueda" type="text">
                        </md-input-container>
                        <div style="margin-top:8px;">
                            <md-button class="md-primary md-raised" ng-click="BuscarEmpleado(busqueda)" type="submit">Buscar</md-button>
                        </div>
                    </form>
                </md-content>
                <div>
                    <table class="table table-sm table-hover" >
                        <thead>
                            <tr>
                                <th class="text-center">

                                </th>
                                <th >Folio</th>
                                <th >Nombre</th>
                                <th >Area</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="Empleado in pagedItems[currentPage]">
                                <td class="text-center">
                                    <md-icon title="Editar empleado" md-svg-src="Presentation/assets/edit.svg" ng-click="AgregarEmpleado($event, Empleado)"></md-icon>
                                    <md-icon title="Eliminar empleado" md-svg-src="Presentation/assets/delete.svg" ng-click="showConfirmOnDelete($event, Empleado)"></md-icon>
                                </td>
                                <td class="text-left">{{Empleado.Id}}</td>
                                <td class="text-left">{{Empleado.Nombre}}</td>
                                <td class="text-left">{{Empleado.Departamento.descripcion}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="9">
                                    <div class="text-center">
                                        <ul class="pagination">
                                            <li ng-class="{disabled: currentPage == 0}">
                                                <a href="javascript:;" ng-click="prevPage()">« Prev</a>
                                            </li>
                                            <li ng-repeat="n in range(pagedItems.length)" ng-class="{active: n == currentPage}" ng-click="setPage()">
                                                <a href="javascript:;" ng-bind="n + 1">1</a>
                                            </li>
                                            <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                                <a href="javascript:;" ng-click="nextPage()">Next »</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </md-card-title-text>
        </md-card-title>
    </md-card>
</div>
